{% extends 'base.html' %}

{% block extras_assets %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
{% endblock extras_assets %}


{% block content %}
<h1> {{ road }}</h1>

<div class="row">
    <div class="col-md-10">
        <canvas id="chart"></canvas>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <p><a href="{% url 'core:home' %}">Voltar</a></p>
    </div>
</div>




{% endblock content %}

{% block extras_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>

<script>
{% include 'includes/profileCharts.js' %}

</script>
{% endblock extras_js %}


